<footer class="footer " >
  <div class="container footer__base">
    <div data-aos="fade-right">
      <div class="footer__upptitle" >
           <span class="footer__upptitle-text">
      delicious ice cream made
    </span>
      </div>
        <h2 class="footer__title">with love and care</h2>
    </div>
         <div class="footer__second" data-aos="fade-left">
           <ul class="footer__list">
      <li class="footer__item">
        <div class="footer__svg">
          <a href="https://github.com/AlissandriSlobodi" target="_blank" rel="noopener nofollow noreferrer" class="footer__link" aria-label="github">
            <svg class="footer__icon">
              <use href="./images/sprite.svg#icon-git-hub"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__svg">
          <a href="https://github.com/AlissandriSlobodi" target="_blank" rel="noopener nofollow noreferrer" class="footer__link" aria-label="telegram">
            <svg class="footer__icon">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__svg">
          <a href="https://github.com/AlissandriSlobodi" class="footer__link" target="_blank" rel="noopener nofollow noreferrer" aria-label="facebook">
            <svg class="footer__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <p class="footer__undertitle">
      <span class="footer__undertitle-text">Feel free to contact</span>
      +1 (000) 000 00 00
    </p>
    </div>
   </div>
    </div>
  <div class="footer__border"></div>
    <h3 class="footer__undertitle-link container">
      © 2023 - IceCream.
      All Rights Reserved.
    </h3>
  </div>
  </div>
</footer>
